.map-community {
  width: 1.8rem;
  height: 1.8rem;
  background: var(--bs-community, #56806f);
  color: white;
  border-radius: 50%;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    width: 70%;
    height: 70%;
    background: currentColor;
    mask: url('@/assets/icons/interface/community.svg') no-repeat center / contain;
    -webkit-mask: url('@/assets/icons/interface/community.svg') no-repeat center / contain;
  }
}
