.tab-content-fixedheight > .tab-pane {
  display: block;
  /* undo "display: none;" */
  visibility: hidden;
}

.tab-content-fixedheight {
  display: flex;
}

.tab-content-fixedheight > .tab-pane {
  display: flex;
  /* undo "display: none;" */
  visibility: hidden;
  margin-right: -100%;
  width: 100%;
}

.tab-content-fixedheight > .active {
  visibility: visible;
}

.loading {
  pointer-events: none;
  opacity: 0.5;
}

.pre-line {
  white-space: pre-line;
}

.clickable {
  cursor: pointer;
  pointer-events: all;
}

.form-check-label {
  &:hover {
    cursor: pointer;
  }

  user-select: none;
}

fieldset:disabled {
  opacity: 0.3;

  .form-control {
    background-color: inherit;
  }
}

.modal-backdrop {
  transition: opacity 0.1s ease-in-out;
  backdrop-filter: blur(50px);
}

.user-select-none {
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-theme {
  background-color: var(--bs-body-bg);
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  overflow: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
